<div class="app-table">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Receiver</th>
        <th scope="col">Account number</th>
        <th scope="col">Title</th>
        <th scope="col">Charge</th>
        <th scope="col">Charge time</th>
        <th scope="col">Is paid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <th scope="row">{{payment.name}}</th>
        <td>{{payment.category}}</td>
        <td>{{payment.receiver}}</td>
        <td>{{payment.accountNumber}}</td>
        <td>{{payment.title}}</td>
        <td>{{payment.charge}}</td>
        <td>{{payment.chargeDay + '.' + payment.chargeMonth}}</td>
        <td>{{payment.isPaid ? 'Opłacono' : 'Do opłacenia'}}</td>
      </tr>
    </tbody>
  </table>
</div>