<div class="body-div">
    <div class="register-div">

        <div class="title">REGISTRATION</div>
<hr>
        <form>
            <div class="fields">
                <div>
                    <label for="name">Your Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name">
                        </div>
                    </div>
                </div>
                
                <div>
                    <label for="email">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="username">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="username" id="username"                             placeholder="Enter your Username">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="password">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input 
                            type="password" 
                            class="form-control" 
                            name="password" id="password"                                placeholder="Enter your Password">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="confirm" >Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input 
                            type="password" 
                            class="form-control" 
                            name="confirm" 
                            id="confirm"
                            placeholder="Confirm your Password">
                        </div>
                    </div>
                </div>
            </div>

            <div class="display-button">
                <button type="submit" class="submit-button">Register</button>
            </div>

        </form>
    </div>
</div>