<div class="body-div">
    <div class="register-div">

        <div class="title">REGISTRATION</div>
<hr>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="fields">
                <div>
                    <label for="name">Your Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" 
                            name="name" 
                            id="name" 
                            placeholder="Enter your Name"
                            [ngModel]="prepopulatedName"
                            required>
                        </div>
                    </div>
                </div>
                
                <div>
                    <label for="email">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" 
                            name="email" 
                            id="email" 
                            placeholder="Enter your Email"
                            [ngModel]="prepopulatedEmail"
                            required
                            email
                            #email=ngModel>
                        </div>
                    </div>
                </div>
                <span id="emailInformation" *ngIf="(!email.valid && email.touched)"><p> Please enter valid email. Ex. example@gmail.com</p> </span>

                <div>
                    <label for="username">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control"
                            name="userName" id="userName"                         
                            placeholder="Enter your Username"
                            [ngModel]="prepopulatedUserName"
                            required>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="password">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input 
                            type="password" 
                            class="form-control" 
                            name="password" 
                            id="password"                        
                            placeholder="Enter your Password"
                            [ngModel]='prepopulatedPassword'
                            required
                            minlength="6"
                            #password>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="confirm" >Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input 
                            type="password" 
                            class="form-control" 
                            name="confirm" 
                            id="confirm"
                            placeholder="Confirm your Password"
                            ngModel
                            required
                            #confirm=ngModel>
                        </div>
                    </div>
                </div>
                <span id="confirmInformation" *ngIf="(confirm.value != password.value) && confirm.touched "><p> Please enter valid confirmation</p> </span>
            </div>

            <div class="display-button">
                <button type="submit" 
                class="submit-button"
                [disabled]="!registerForm.valid"
                [hidden]="!registerForm.valid || (confirm.value != password.value) ">Save</button>
            </div>

        </form>
    </div>
</div>